/* Overall body styling for page layout */ 
body {
    margin:0%;
    background-color: white;
    height: 100%;
    background-size: 100%;
    background-image: linear-gradient(to right, rgb(79, 152, 185), rgb(231, 140, 196));
    }


/* Navbar styling */ 
.topnav .active {
    color: white;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    justify-content: right;
    display: inline-flex;
    margin: 20px;
    text-decoration: none;
    position: relative;
    top: 0%;
}

div.home {
   margin-left: 5%;
   margin-right: 5%;
}
/* Navbar pseudo styling before effect */
.topnav ::before {
    content: '';
    display: block;
    height: 5px;
    background-color: rgb(79, 152, 185);
    position: absolute;
    top: 0;
    width: 0px;
}

/* Navbar pseudo styling after being hovered over */
.topnav :hover::before {
    width: 100%;
}

/* Header Styling */
header {
    background: #eda4ba;
}


/* Specific styling for heading */ 
h1 {
    font-style: bold;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c7d5eb;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    line-height: 40px;
    
}

/* Specific paragraph styling for most webpages */ 
p {
    font-size: 25px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: #c7d5eb;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    line-height: 25px;
}

/* specific styling for anchor elements*/ 
a {
    color: #c7d5eb;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}


form.container {
    width: 500px;
    height: 500px;
    left: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    position: fixed;
    flex-wrap: wrap;
    display:flexbox;
    margin: 0%;
    color: #c7d5eb;
}

textarea {
    height: 200px;
    width: 400px;
    margin-top: 5%;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
    display: block;
    border: none;
}

button {
    background-color: #eda4ba;
    color: rgb(78, 112, 185);
    border: none;
}
footer {
    color: white;
    height: 40px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: inline-fex;
    box-sizing: border-box;
    justify-content: end;
    margin: 0%;
    padding: 0px;
    }

img.icons {
    bottom: 5px;
    right: 5px;
    position: absolute;
    height: 30px;
    width: 30px;
    
}

    .bottomnav {
        color: white;
        font-style: normal;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        height: 40px;
        width: 100%;
        display:inline-flex;
        box-sizing: border-box;
        justify-content:left;
        position: fixed;
        bottom: 0%;
        margin: 0%;
        background-color: #eda4ba;
        padding-left: 8px;
        padding-top: 8px;
}
