/* Overall body styling for page layout */ 
body {
    margin: 0%;
    height: 100%;
    padding-bottom: 10px;
    background-image: linear-gradient(to right,rgb(79, 152, 185), rgb(231, 140, 196));
    background-size: 100%;
    }

/* Navbar styling */ 
.topnav .active {
    color: white;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    display: inline-flex;
    margin: 20px;
    text-decoration:none;
    position: relative;
    top: 0%;
}

/* Navbar pseudo styling before effect */
.topnav ::before {
    content: '';
    display: block;
    height: 5px;
    background-color:  rgb(79, 152, 185);;
    position: absolute;
    top: 0;
    width: 0px;
}

/* Navbar pseudo styling after being hovered over */
.topnav :hover::before {
    width: 100%;}

/* header styling */
header {
    background: #eda4ba;
}

/* Heading styling */ 
h1 {
    font-style: bold;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c7d5eb;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    justify-content: center;
}

/* Specific styling preceding the professional history list */ 
ul {
    font-size: 25px;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #c7d5eb;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-inline-start: 0px;
    line-height: 25px;
}

/* Specific styling for the professional history list */ 
li {
    color: #c7d5eb;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    line-height: 25px;
}

/* Pseudo-class to make text expand when hovered over */ 
li:hover {
    transform: scale(1.5);
}

img.icons {
    bottom: 5px;
    right: 5px;
    position: absolute;
    height: 30px;
    width: 30px;
}


footer {
    color: white;
    height: 40px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: inline-fex;
    box-sizing: border-box;
    justify-content: end;
    margin: 0%;
    padding: 0px;
    }

    .bottomnav {
        color: white;
        font-style: normal;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        height: 40px;
        width: 100%;
        display:inline-flex;
        box-sizing: border-box;
        justify-content:left;
        position: fixed;
        bottom: 0%;
        margin: 0%;
        background-color: #eda4ba;
        padding-left: 8px;
        padding-top: 8px;
}