/* Overall body styling for page layout */ 
body {
    background: black;
    }

/* Navbar styling */ 
.topnav .active {
    color: grey;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    justify-content: right;
    display: inline-flex;
    margin: 15px;
    text-decoration: none;
    position: relative;
    top: 0%;
}

/* Navbar pseudo styling before effect */
.topnav ::before {
    content: '';
    display: block;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 0;
    width: 0px;
}

/* Navbar pseudo styling after being hovered over */
.topnav :hover::before {
    width: 100%;
}

/* Header Styling */
header {
    background: midnightblue;
}

/* Specific styling for heading */ 
h1 {
    font-style: bold;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

/* Specific paragraph styling for most webpages */ 
p {
    font-size: 25px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* specific styling for anchor elements*/ 
a {
    color: grey;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

/* Image sizing */
image.icons {
    size: 25px;
}
