@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Libre Baskerville', serif;
}

/* profile section */
.row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.title{
    text-align: center;
    padding:10px;
}

#profile img{
    width: 50%;
    margin: 0 25%;
}
#profile p{
    margin: 20px;
    color: #777;
    font-size: 14px;
    line-height: 1.75;
    text-align: justify;
}

/* Project section */
#projects{
    background-color: #eee;
    min-height: 1040px;
}
#projects h2{
    margin: 20px;
    text-align: center;
}
#projects a{
    position: relative;
    bottom: 10px;
    padding: 33%;
}

.project{
    background-color: white;
    margin: 10px;
    min-height: 250px;
}

.project img{
    width: 100%;
}
/* responsive media queries */
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
/*larger than 601px - 768px*/
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  #profile p{ font-size: 1.7em;}
  #profile img {width: 40%; margin: 0 30%}
  .title{font-size: 2.5em;}
  .project h2, a{font-size: 2em;}
  #projects{min-height: 1900px;}
} 
@media only screen and (min-width: 769px) {
/*anything beyoud 769px*/
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .container{margin: 0px 150px;}
  #profile img{width: 70%; margin: 0 15%;}
  #profile p{font-size: 1.2em;}
  .project img{min-height: 300px;}
  .project h2, a { font-size: 1.3em;}
  #projects{min-height: 600px;}
}