@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */

header {
    height: 10vh;
    background-color: #336699;
    border: 1px solid #000000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.dropbtn {
    background-color: #336699;
    color: #bf9000;
    /* font-weight: 600; */
    padding: 0.3em;
    font-size: 1.0rem;
    border: solid 0.25rem ;
    cursor: pointer;
    /* height: 100%; */
    /* box-sizing: border-box; */
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    /* padding: 10px 16px; */
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

/* body */


.whitebody {
    height: 80vh;
    background-color: #ddd6cd;

}

.home-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1.2rem;
    max-width: 400px;
    font-weight: 400;
}

a {
    text-decoration: none;

}
.home-link1, .home-link2, .home-link3 {
    font-size: 1rem;
    border: 2px solid;
    padding: 0.3rem;
    margin-bottom: 0.3rem;
    border-radius: 3px;
    opacity: 1;
    
}
.home-link1 {
    color: #000000;
    border-color: #bf9000;
}

.home-link2 {
    color: #000000;
    border-color: #336699;
}
.home-link3 {
    color: #000000;
    border-color: green;
}



/* Footer */
footer {
    height: 10vh;
    background-color: #336699;
    border: 1px solid #000000;

}